.title{
    color: green;
    margin-left: 10%;
    
}
.title2{
    color: white;
    margin-left: 10%;
    padding-top; 40%;
}


.poem{
   margin-left: 10%;
    margin-right: 10%;
    border: 10px;
    border-style:groove;
    padding: 20px;
    
}